

<div class="container-fluid">
	<div class="row">

		<!-- =========== title ============= -->
		<div class="top-title">maruopi</div>
		<div class="top-image"></div>
		<!-- =============================== -->

		<div class="explain">
			<ruby>
			<rb>-- multi opinion --</rb>
			<rt>マルチオピニオン</rt>
			</ruby>
		</div>

		<!-- =========== main image ============= -->
		<div class="explain-show">
			<p>気になったこと質問してみませんか？</p>
			<p>maruopiを使っていろんな人の回答を見てみましょう！！</p>
			<p>きっと探していた答えが見つかります。</p>
		</div>

		<div class="some-question">
			<div class="one-question-1">どうしたらいいのかな？</div>
			<div class="one-question-2">複数の人の意見をみたいな。</div>
			<div class="one-question-3">どんな回答がいいと思うのかな？</div>
		</div>
		<!-- ===================================== -->








	</div>
</div>


