<h1>EndUsers#index</h1>
<p>Find me in app/views/end_users/index.html.erb</p>


<h2>end_user</h2>
			<div class="col-sm-9">
				<table class="table float-lg-right">
					<thead>

				  		<tr>
						    <th>name</th>
						    <th></th>
						    <th></th>
						</tr>
					</thead>
					<tbody>
					<% @end_users.each do |end_user| %>
					    <tr>
						    <td><%= end_user.name %></td>
						    <td><%= end_user.email %></td>
						    
						    <td><%=link_to "show", end_user_path(end_user.id) %></td>
						</tr>
					 <% end %>
					</tbody>
				</table>
			</div>