/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.container {
    width: 100%;
}

/* ヘッダーレイアウト */
header{
	margin-bottom: 10px;
    width: 100%;
    height: 60px;
    background: linear-gradient(45deg, #add8e6, #6495ed)
}

.logo{
	font-size: 32px;
	font-family: cursive, "Bradley Hand", Courier, "Segoe Print", sans-serif;
	float: left;
	margin-left: 10px;
	line-height: 60px;
}

.end-user-header-nav{
	width: 25%;
	height: 60px;
	line-height: 60px;
	float: right;
	color: white;
	font-size: 16px;
}

.fas{
	color: white;
}

.fas:hover{
	background-color: #1e90ff;
	padding: 20px 0px;
	transition: background-color 0.5s;
}

.panel-body{
	margin-bottom: 10px;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #add8e6;
	margin-top: 10px;
}

.col-xs-12{
	padding: 0px;
}

.login-box, .signup-box{
	padding: 10px;
	width: 300px;
	margin: 0 auto;
	border: solid 1px #dcdcdc;
}





